/* BASIC PAGE RULES */

body {
	font-family:helvetica;
	background-color:black;
}

html, body, .container {
    width: 100%;
}

html, body, h1, h2, .container, .panel, p {
    margin: 0;
    padding: 0;
}

h1, h2, p, h3 {
    color:white;
}

h3 {
	margin-top:0;
}

p {
	padding:5px;
	word-wrap:break-word;
}

img {
	max-width:100%;
}

/* COLUMN & ROW RULES */

.col-sm-10 {
	text-align:center;
	padding:20px;
}

.col-sm-10 img {
	margin:auto;
	width:100%;
	border-radius:3px;
}

.col-sm-6 img {
	width:auto;
}

.col-sm-4 {
	padding:0;
}

.col-sm-4 img {
	margin-bottom:20px;
	width:auto;
}

.row {
	margin:0;
}

.col-sm-4 .col-sm-10 {
	padding:0;
}

/* ANIMATION RULES */

@keyframes flash {
    from {
		opacity:0.2;
	}
    to {
		opacity:1;
	}
}

header .col-sm-10 img {
	animation-name: flash;
	animation-duration: 4s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

/* NAVBAR RULES*/

.navbar li a {
	padding-left:30px;
	padding-right:30px;
}

.navbar li a, .navbar li a:focus, .dropdown-menu li a:focus {
	color:white;
	font-weight:bold;
}

.navbar li a, .navbar li a:focus, .dropdown-menu li a:focus, .navbar
{
	background: -webkit-linear-gradient(black, #1C4859); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, #1C4859); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, #1C4859); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, #1C4859); /* Standard syntax */
}

.navbar .active a:focus, .navbar .active a, .navbar .active, .navbar .navbar-nav .open .dropdown-menu .active a, .navbar .navbar-nav .open .dropdown-menu .active a:focus, .navbar .open > a  {
	color: #1C4859;
	background-color:white;
	background-image:none;
}

.navbar .active a:hover, .navbar li a:hover, .navbar .navbar-nav .open .dropdown-menu .active a:hover, .navbar .open > a:hover {
	background-color:#A1DBF1;
	color: #1C4859;
	background-image:none;
}

.dropdown-menu {
	padding:0;
	background-color: #1C4859;
	border: 1px solid white;
	text-align:center;
}

.navbar-nav .open .dropdown-menu li a {
	padding:10px 15px;
}

.navbar {
	border-radius:3px;
	background-color:#1C4859;
	margin:0;
	border: 1px solid white;
}

.navbar-toggle {
	background-color:#A1DBF1;
	border-color: #1C4859;
	opacity:0.8;
}

.icon-bar {
	background-color:#1C4859;
}

.navbar-header a {
	color: #1C4859;
}

.navbar-header {
	background-color: white;
}

.navbar-nav {
	margin:0;
}

.navbar-collapse {
	padding:0;
}

/* JUMBOTRON RULES */

.jumbotron {
	background-color:transparent;
	color:white;
	padding:0px;
	margin-bottom:20px;
}

.jumbotron h1 {
	font-size: 30px;
	margin-bottom: 20px;
}

.jumbotron p {
	color: white;
	font-size:14px;
}

/* PANEL RULES */

.panel ul, ol {
	padding:0;
	margin-left:25px;
}

.panel li a {

	color:#1C4859;
	font-weight:bold;
}

.col-sm-10 .panel img {
	margin-top:10px;
}

.panel {
    background-color:white;
	margin-bottom:20px;
	border: 1px solid white;
}
.panel-heading {
    background-color:#1C4859;
    color:white;
	font-weight:bold;
}

.panel-body {
    background-color:#A1DBF1;
}

.panel-body p {
	color:black;
	margin:0px;
}

/* PADDING & MARGIN RULES */

#nopaddingtop {
	padding-top:0;
}

#marginbottom {
	margin-bottom:20px;
}

header .col-sm-10 {
	padding-bottom: 0;
}

/*BACKGROUND RULES*/

#outerbodybg {
	background-image: url("../images/BG.png");
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

#bodybg {
	background-color:#666666;
	background: -webkit-linear-gradient(#1C4859, black ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1C4859, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1C4859, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1C4859, black); /* Standard syntax */
}

#navrow {
	background: -webkit-linear-gradient(black, #04243A); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, #04243A); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, #04243A); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, #04243A); /* Standard syntax */
	border-bottom:2px white solid;
}

footer > .row {
	border-top:2px white solid;
	background: -webkit-linear-gradient(black, #1C4859); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, #1C4859); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, #1C4859); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, #1C4859); /* Standard syntax */
}